

<div class="container book-grid">
  <% if @responseType == "nyTimes" %>
    <h1>Best Sellers</h1>
    <div class="center-divider blue"></div>
  <% elsif @responseType == "google" %>
    <h1>Search Results</h1>
    <div class="center-divider green"></div>
  <% end %>
  <div class="row">
    <% @books.each_with_index do |book, index| %>
      <div class="col-sm-4 grid-item">
        <%= link_to books_show_path(book.isbn, {:nps => book.nps_score.round(2)}), class: "book-link" do %>
        <%= image_tag(book.img_url, :alt => book.title, class: "book-cover") %>
        <div class="book-content">
          <p class="book-title"><%= book.title.split.map(&:capitalize).join(' ') %></p>
          <p class="book-author"><%= book.author.split.map(&:capitalize).join(' ') %></p>
          <p class="book-nps">NPS: <span class="<%= book.nps_color_class %>"><%= book.nps_score.round(2) %></span></p>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
