<!DOCTYPE html>
<html>
  <head>
    <title>Book Promoter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-white">
      <a class="navbar-brand" href="<%= root_url %>">Book Promoter</a>

      <%= form_tag books_path, :method => 'get', class: "form-inline float-xs-right" do %>
        <p style="margin-bottom: 0">
          <%= text_field_tag :search, params[:search], class: "form-control search-bar", placeholder: "Search" %>
          <%= submit_tag "Search", :name => nil, class: "btn btn-nav-search" %>
        </p>
      <% end %>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <div class="footer">
      <p>
        Built by Carlos Diez <a href="https://github.com/cdiezmoran/nps-books-Rails"><%= icon('github', class: 'white-git') %></a>
      </p>
      <h3 style="margin-bottom: 35px;">Powered By</h3>
      <div class="row">
        <div class="col-md-4">
          <a href="https://www.goodreads.com/">
            <img  class="gr-logo" src="https://davescomputertips.com/wp-content/uploads/2016/11/goodreads.png" alt="">

          </a>
        </div>
        <div class="col-md-4" style="background-color: #fff">
          <a href="https://books.google.com/">
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/38/Google_Books_logo_2015.PNG" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="http://www.nytimes.com/books/best-sellers/">
            <img class="" src="http://www.jmarkpowell.com/wp-content/uploads/2015/04/NY-Times-best-seller.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
