<!DOCTYPE html>
<html>
  <head>
    <title>Book Promoter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-white">
      <a class="navbar-brand" href="<%= root_url %>">Book Promoter</a>

      <%= form_tag books_path, :method => 'get', class: "form-inline float-xs-right" do %>
        <p style="margin-bottom: 0">
          <%= text_field_tag :search, params[:search], class: "form-control search-bar", placeholder: "Search" %>
          <%= submit_tag "Search", :name => nil, class: "btn btn-nav-search" %>
        </p>
      <% end %>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <div class="footer">
      <p>
        Built with <%= icon('heart') %> by Carlos Diez
      </p>
    </div>
  </body>
</html>
