<!DOCTYPE html>
<html>
  <head>
    <title>NpsBooks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-white">
      <a class="navbar-brand" href="<%= root_url %>">Book Promoter</a>

      <form class="form-inline float-xs-right">
        <input class="form-control search-bar" type="text" placeholder="Search">
        <button class="btn btn-nav-search" type="submit">Search</button>
      </form>
    </nav>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
